<!DOCTYPE html>

<html lang="pt-br">

    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        
        { % black title % }
            <title>Ecoleta</title>
        { % enblock title % }
        
        <link rel="stylesheet" href="/styles/main.css">

        { % black styles % }
        { % enblock styles % }
        <link rel="stylesheet" href="/styles/responsive.css">
        <link href="https://fonts.googleapis.com/css2?family=Roboto&family=Ubuntu:wght@700display=swap" rel="stylesheet">
    </head>

    <body>
        <div id="page-home">
            
        </div>
        

    </body>
</html>