@media(max-width: 900px ) { /*Regras de responsividade (midias queries)*/
    #page-home {
        background-position-x: 70vw;
    }

    #page-home .content {
        align-items: center;
        text-align: center;
    }

    #page-home header a  {
        position: absolute; /*sobreponhe todos os items*/
        bottom: 48px;
        left: 50%;
        transform: translateX(-50%); /*Centraliza considerando o centro do elemento*/
    }

    #page-home main {
        align-items: center;
    }

    #page-search-results .cards {
        grid-template-columns: 1fr; /*Uma coluna por linha*/
    }

    #page-create-point .field-group {
        flex-direction: column; /*Flex em forma de coluna*/
    }

    #page-create-point .field-group .field + .field {
        margin-left: 0; /*Margem da esquerda*/
    }

    
}

@media(min-width: 1700px) { /*Ao atingir largura minima, autera posição do eixo X*/
    #page-home {
        background-position-x: 40vw;
    } 
}

@media(max-height: 760px){
    #page-home {
        background-position-y: 200px;
    } 
}

